.container {
    height: 100vh;
    padding-top: 20px;
}

.col-md-2 {
    height: 100%;
}

.contact-photo {
    float: left;
    height: 50px;
}

.contact-info {
    padding-left: 70px;
}

.message-photo {
    float: left;
    height: 50px;
}

.padding-left {
    padding-left: 10px;
}

.message-container {
    height: 70px;
}

.message {
    padding-left: 70px;
}

.force-to-bottom {
    position: fixed;
    bottom: 0px;
}

.send-button {
    float: right;
    padding-top: 10px;
}